name: Build and deploy Node.js app to Azure Web App - zag-teams-bot-api

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # ❌ npm install ЭНД ХИЙХГҮЙ
      # ❌ node_modules zip-д оруулахгүй

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: zag-teams-bot-api
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: .
